@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
}

body{
    background-color: rgb(214,0,28);
}

header{

}

main{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
}

.door{
    background-color: rgb(30,121,44);    
    background-size: contain;
}

footer{

}