@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
    color: white;
}

#searchicon, #close{
    cursor: pointer;
}


#searchbar{
    z-index: 2;
    position: fixed;
    top: -30vh;
    width: 100vw;
    height: 20vh;
    display: grid;
    place-items: center;
    transition: all .3s ease-in-out;
}

#searchbar.show{
    top: 0;
}

#searchicon.hide{
    transition: all .3s ease-in-out;
    opacity: 0;
}


input{
    color: black;
    width: 40vw;
    font-size: 2rem;
    border-radius: 1rem;
    border: 1px solid grey;
    outline: none;
    padding: .5rem;
}

header{
    color: black;
    height: 20vh;
    display: grid;
    place-items: center;
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: rgb(93, 162, 189);

}

#title{
    border-bottom: .5rem hotpink solid;
    padding: 0 1rem 0.2rem 1rem ;
}

main{
    margin-top: 20vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
    gap: 1rem;
    background-color: rgb(189, 202, 253);
}

.card{
    height: 23vh;
    background-color: rgb(33, 111, 150);
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr 4fr;
    gap: 0.5rem;
}
.card h2{
    display: grid;
    place-items: center;
}   

.card .synonyms{
    background-color: rgb(86, 128, 233);
    border-radius: 1rem;
    padding: 1rem;
    overflow-y: scroll;
}

.synonyms::-webkit-scrollbar{  display: none;}

footer{

}